xmonad/.stack-work/*
xmonad/.stack-work/
xmonad/.stack-work
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xmonad-x86_64-linux
config/mpd/database
config/nvim/.netrwhist
config/nvim/spell
config/ncmpcpp/error.log
config/fish/fish_variables
tags
