xmonad/.stack-work/*
xmonad/.stack-work/
xmonad/.stack-work
xmonad/stack.yaml
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/-lm
xmonad/stack.yaml.lock
xmonad/xmonad.o
xmonad/xmonad-x86_64-linux
config/mpd/database
config/nvim/.netrwhist
config/nvim/spell
config/ncmpcpp/error.log
config/fish/fish_variables
config/fish/functions/
tags
